<a href="https://colab.research.google.com/github/Henryhouu/Test/blob/main/inclassAssginment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
R = float(input('please provide the radius: '))
h = float(input('please provide the height: '))
π = 3.14
A = 2*π*R**2 + 2*π*R*h
print(f"Area of cylinder: {A} sq.ft")

please provide the radius: 9
please provide the height: 9
Area of cylinder: 1017.36 sq.ft

In [ ]:
n1 = float(input('Put in your number n1: '))
n2 = float(input('Put in your number n2: '))
symbol = input('Put a symbol btween two number: ')

if symbol == '+':
	print(f'{n1} + {n2} = {n1 + n2}')
elif symbol == '-':
	print(f'{n1} - {n2} = {n1 - n2}')
elif symbol == '*:':
	print(f'{n1} * {n2} = {n1 * n2}')
elif symbbol == '//':
	print(f'{n1} // {n2} = {n1 // n2}')
elif symbol == '**':
	print(f'{n1} ** {n2} = {n1 ** n2}')
elif symbbol == '%':
	print(f'{n1} % {n2} = {n1 % n2}')
else:
	print('invalid symbol')

Put in your number n1: 8
Put in your number n2: 8
Put a symbol btween two number: -
8.0 - 8.0 = 0.0

In [ ]:
for numberHours in range(1,9):
    fee = 5 + 2.5 * numberHours
    if fee < 10:
      fee = 10.0
    elif fee > 20 :
        fee = 20.0
    print(numberHours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
import math

for advertisingDollars in range(0,201,25):
    revenue = (20 + 2 * round(advertisingDollars**0.5))*10
    cost = 200 + advertisingDollars
    profits = revenue - cost
    print(advertisingDollars, '\t', profits)

0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

[link text](https://)

In [ ]:
#given an empty list, design a program in python that populates the list by repeating ask the user for numerical inputs.
#The process stop when users gives 0. Finally, the list should be display in descending order

numbers = []

while True:
  num = float(input('Given a number: '))
  if num == 0.0:
    break
  numbers.append(num)

numbers.sort(reverse=True)
print(numbers)

Given a number: 3
Given a number: 4
Given a number: 5
Given a number: 1
Given a number: 0
[5.0, 4.0, 3.0, 1.0]

In [ ]:
L1 = [1,2,3,4]
L2 = [1,2,4,7]

for item in L1[:]:
  if item in L2:
    L1.remove(item)

L1

[3]

In [21]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

In [22]:
for i in range(len(numbers)):
  months[numbers[i]] = names[i]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [25]:
for num in numbers:
  months[num] = names[num - 1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [26]:
counts = {}

while len(counts) < 5:
  key = input("Give a string: ")

  if key not in counts:
    counts[key] = 1
  else:
    counts[key] = counts[key] + 1

counts

Give a string: a
Give a string: b
Give a string: a
Give a string: d
Give a string: c
Give a string: c
Give a string: a
Give a string: c
Give a string: b
Give a string: e

{'a': 3, 'b': 2, 'd': 1, 'c': 3, 'e': 1}